<!DOCTYPE html>

<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>In the Pocket</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/TimeCircles.css">
        <link rel="stylesheet" type="text/css" href="css/jquery.classycountdown.min.css" />
        <link rel="stylesheet" href="css/main.css">
        <link rel="shortcut icon" href="images/favicon.png" />

        <!--[if lt IE 9]>
            
            <div class="IE">
    
                <div class="alignErrorIe">
                    <h1>in the pocket</h1>
                    <img src="images/warning.png" alt="">

                    <p>Vous utilisez internet explorer pour consulter In the Pocket.</p>

                    <p>Ce navigateur n'est pas pris en charge par la webapplication. Veuillez télécharger un vrai navigateur.</p>  

                    <a href="https://www.google.com/chrome/browser/desktop/index.html" target="_blank">google chrome</a> 
                </div>

            </div>

        <![endif]-->

    </head>
    <body id="bodyTheorique">

        <noscript>
            <div id="errorJs">
                <div class="alignErrorJs">

                    <h1>in the pocket</h1>
                    <img src="images/warning.png" alt="">
                    <p>Hoho, il semblerait que le javascript de votre navigateur soit désactivé.</p>

                    <p>Pour utiliser In the Pocket vous devez l'activer.</p>

                    <a href="index.html">Rafraîchir la page</a>
                </div>
            </div>
        </noscript>

        <div class="mobileDetection">
            
            <div class="alignMobile">
                
                <h1>in the pocket</h1>

                <p>Cette webapplication ne fonctionne pas sur mobile. Veuillez vous reconnecter à partir d'un ordinateur.</p>

                <p>Ou vous pouvez télécharger l'application sur les différentes plateformes.</p>

                <ul>
                    <li><a href="#">apple store</a></li>
                    <li><a href="#">play store</a></li>      
                </ul>

                <img src="images/mobile.png" alt="mobile">

            </div>


        </div>

        <!-- HEADER -->
        
            <div class="navFixed questionFixed notFixed">

                <h1><a href="indexconnected.html">in the pocket</a></h1>
                
                <div class="tool">
                    <p>arnaud</p>

                    <div class="avatar">avatar</div>

                    <button class="menu">
                        <img src="images/menu_back.png" class="menuImg" alt="">
                        <img src="images/menu_back_hover.png" class="menuImgHover" alt="">
                        menu
                    </button>
                </div>

            </div>

        <!-- END HEADER -->

        <!-- NAV -->

        <!-- NAV -->

        <nav>

            <div class="align_nav">

                <button class="close">
                    close
                </button>

                <section class="closeHover hover">fermer</section>

                <div class="toolsIno">

                    <button class="option">option</button>
                    <button class="profil"><</button>
                    
                    <div class="avatar">avatar</div>

                    <div class="infoConnected">
                        <p>Bonjour</p>
                        <h1>arnaud</h1>
                    </div>  

                </div>

                <ul class="link">
                    <li>
                        <a href="indexconnected.html">
                            <span><img src="images/accueil.png" alt=""></span>
                            <span class="hoverMenu"></span>
                            accueil
                        </a>
                    </li>
                    <li>
                        <a href="indexconnected.html#theorique">
                            <span><img src="images/check.png" alt=""></span>
                            <span class="hoverMenu"></span>
                            examen théorique
                        </a>
                    </li>
                    <li>
                        <a href="indexconnected.html#pratique">
                            <span><img src="images/pratique.png" alt=""></span>
                            <span class="hoverMenu"></span>
                            examen pratique
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <span><img src="images/info.png" alt=""></span>
                            <span class="hoverMenu"></span>
                            infos
                        </a>
                    </li>
                </ul>

                <ul class="social">
                    <li>
                        <a href="https://www.facebook.com/inthepocketTFE" target="_blank">
                            <span><img src="images/facebook.png" alt="" class="facebook"></span>
                            <span class="hoverMenu"></span>
                            facebook
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/inthepocket_tfe" target="_blank">
                            <span><img src="images/twitter.png" alt=""></span>
                            <span class="hoverMenu"></span>
                            twitter
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/inthepocket_esiaj/" target="_blank">
                            <span><img src="images/insta.png" alt=""></span>
                            <span class="hoverMenu"></span>
                            instagram
                        </a>
                    </li>
                </ul>
                

            </div>
        
        </nav>

        <!-- END NAV -->

        <!-- PROFIL -->

        <aside>

            <div class="alignStat">
                
                <h1>statistiques</h1>

                <ul>
                    <li>
                        <p>examens réalisés</p>
                        <span>5</span>
                    </li>
                    <li>
                        <p>questions répondues</p>
                        <span>250</span>
                    </li>
                    <li>
                        <p>bonnes réponses</p>
                        <span>174</span>
                    </li>
                    <li>
                        <p>mauvaises réponses</p>
                        <span>76</span>
                    </li>
                    <li>
                        <p>taux de réussite</p>
                        <span>average</span>
                    </li>
                </ul>

                <canvas id="myChart"></canvas>

                <a href="pdf/permis.pdf" class="dl_L " download="votre_L_inthepocket">
                   <img src="images/lanim.png" alt="" class="lanim">
                   <img src="images/donwlonad_white.png" alt="" class="dlanim">
                   Télécharger votre L
                </a>
                <a href="mailto:arnaud@g-move.be?subject=suggestion de question IN THE POCKET" class="dl_L suggest">
                    <img src="images/questionAnim.png" alt="" class="lanim">
                    <img src="images/donwlonad_white.png" alt="" class="dlanim">
                    suggérer une question
                </a>

                <hr class="Line">

            </div>
            
        </aside>

        <!-- END PROFIL -->

        <!-- END PROFIL -->


        <!-- MAIN QUESTION -->

        <main class="questionMain" id="question-view">

            <div class="tempory">

                <div class="alignTempory">

                    <p class="serie"><span class="interm">débutant</span> Série intermédiaire</p>

                    <h1>Règles d'utilisation</h1>

                    <p>Un test comporte 50 questions. Vous avez <span>40 secondes</span> pour y répondre. Si vous ne voulez pas attendre la fin du compte à rebours vous pouvez directement accéder à la question suivante en cliquant sur le <span>bouton turbo</span>.</p>

                    <p>Toute réponse non validée ne sera pas prise en compte.</p>

                    <p>Attention parfois <span>plusieurs réponses</span> doivent être validées pour obtenir le point.</p>

                    <p>Ce questionnaire constitue un bon entrainement mais n'est pas un test agréé par l'organisme de contrôle GOCA.</p>
                    
                    <p>Que la force soit avec vous.</p>

                    <p><span>Veuillez ne pas rafraichir la page pendant toute la durée de votre test.</span></p>

                    <button class="go">Turbo</button>

                    <div id="countdownFirst" class="compteurFirst"></div>
                </div>

            </div>


        </main>

        <div class="konami">
            <button class="closeConnect closeKonami">close</button>
            <img src="images/konami.png" alt="">
        </div>

        <!-- END MAIN QUESTION -->

        <script type="javascript/template" id="question-view-template">
                    <div class="question">

                        <div class="alignQuestion">

                                <p class="countParent">Question : <span class="count"></span> / 50</p>

                                <p><%= model.question.question_text %></p>

                            <ul>
                                <li><button class="list-group-item" id="first">A : <%= model.answers[0].answer_text %></button></li>
                                <li><button class="list-group-item">B : <%= model.answers[1].answer_text %></button></li>
                                <li><button class="list-group-item">C : <%= model.answers[2].answer_text %></button></li>
                                <li><button class="list-group-item">D : <%= model.answers[3].answer_text %></button></li>
                            </ul>

                            <div id="toolQuestion">

                                <div id="countdown"></div>

                                <button id="send-button" class="send-button btn btn-default"><img src="images/turbo.png" alt="turbo" id="turbo">turbo</button>

                            </div>

                        </div>

                    </div>

                     <div class="imgQuestion" style="background:url(images/<%= model.question.question_img %>.jpg)">
                        <!--<img src="images/<%= model.question.question_img %>.jpg" alt="<%= model.question.question_text %>">-->
                    </div>

        </script>

        <script src="//use.typekit.net/zei7bth.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="js/html5.js"></script>
        <script src="js/chart.min.js"></script>
        <script src="js/TimeCircles.js"></script>
        <script src="js/jquery.classycountdown.js"></script>
        <script src="js/jquery.knob.js"></script>
        <script src="js/jquery.throttle.js"></script>
        <script type="text/javascript" src="js/vendor/underscore.js"></script>
        <script src="js/question_requete.js"></script>
        <script src="js/countdown.js" id="timer"></script>
        <script src="js/main.js"></script>

        <script type="text/javascript">

            $('#countdownFirst').ClassyCountdown({
            theme: "white-very-wide",
            end: $.now() + 40,
            });


        </script>

    </body>
</html>
